[submodule "sources_non_forked/vim-colorschemes"]
	path = sources_non_forked/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "sources_non_forked/tern_for_vim"]
	path = sources_non_forked/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
[submodule "sources_non_forked/YouCompleteMe"]
	path = sources_non_forked/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "sources_non_forked/es.next.syntax.vim"]
	path = sources_non_forked/es.next.syntax.vim
	url = https://github.com/othree/es.next.syntax.vim.git
[submodule "sources_non_forked/vim-javascript"]
	path = sources_non_forked/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "sources_non_forked/kotlin-vim"]
	path = sources_non_forked/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule "sources_non_forked/vim-jsx"]
	path = sources_non_forked/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "sources_non_forked/vim-markdown.vim"]
	path = sources_non_forked/vim-markdown.vim
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "sources_non_forked/vim-markdown-preview.vim"]
	path = sources_non_forked/vim-markdown-preview.vim
	url = https://github.com/JamshedVesuna/vim-markdown-preview.git
[submodule "sources_non_forked/vim-instant-markdown.vim"]
	path = sources_non_forked/vim-instant-markdown.vim
	url = https://github.com/suan/vim-instant-markdown.git
